<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM Fantasy</title>
    <link rel="stylesheet" href="/static/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/static/admin.html" id="upp">ADMIN ROLE</a></li>
      <li><a href="/" id="upp"> HOME</a></li>
      <li><a href="#about" id="upp"> ABOUT US</a></li>
      <li><a href="#photos" id="upp"> PHOTOS</a></li>
      <li><a href="#contact" id="upp"> CONTACT US</a></li>
      <li><a href="/static/cancel.html" id="upp">CANCEL MEMBERSHIP</a></li>
    </ul>
  </nav>
  <header class="head">
  <div class="cont">
    <h1 style="color: black;text-align: center;">
      Welcome to CU Gym
    </h1>
    <p style="color: black;background-color: grey;">Success usually comes to those who are too busy to be looking for it.</p>
    <p style="color: black;background-color: grey;">EAT SLEEP GYM REPEAT!</p>
    <br>
    <br>
    <a href="/contact"><button class="bt">JOIN US</button></a>
    
  </div>
</header>
<section class="home">
  <div id="about" class="block">
    <h1>ABOUT US</h1>
    <p><h3>Welcome Chitkarians</h3>Fitness is as much as important as studies. So we the gym of Chitkara University will provide you with latest equipments that will help you to stay fit and healthy. Join now!!</p>
    <br>
    <br>
    <button class="btn">READ MORE</button>
  </div>
  <div class="imgg">
    <img src="../static/mass.jpg" alt="">
  </div>
</section>
<div id="photos" class="photos">
  <h1 style="width: 421px;background-color: black;text-align: center;color: white;">Snapshots</h1>
  <img src="static/1.jpeg"><br/>
  <img src="static/2.jpeg"><br/>
  <img src="static/3.jpeg"><br/>
  <img src="static/4.jpeg"><br/>
  <img src="static/5.jpeg"><br/>
  <img src="static/6.jpeg"><br/>
  <img src="static/7.jpeg"><br/>
  <img src="static/8.jpeg"><br/>
  <img src="static/9.jpeg"><br/>
  <img src="static/10.jpeg"><br/>
  <img src="static/11.jpeg"><br/>
  <img src="static/12.jpeg">
</div>
<div id="contact" class="footer">
  <div class="call">
    <h1>CONTACT US:<br/> +91 8264920706</h1>
  </div>
  <div class="right">
    <a href="https://www.facebook.com/pg/JKInterior1971/about/?ref=page_internal" target="blank"><img src="../static/fb.jpeg" alt=""></a>
    <a href="https://www.instagram.com/deepsjacker/" target="blank" ><img src="../static/ins.jpg" alt=""></a>
  </div>
</div>
</body>
</html>
